In [2]:
from cassandra.cluster import Cluster

In [3]:
import pandas as pd
df=pd.read_csv('data.csv')
df.head()

   SKU        name          description  warehouse_num
0    1     Samsung   SAMSUNG Galaxy F13              2
1    2        Itel         itel it2163S              4
2    5     Infinix  Infinix HOT 20 Play              2
3    6  Greenberri     GREENBERRI VIRAT              3
4   11          Mi             POCO C31              1

In [5]:
clstr = Cluster()
session = clstr.connect()

In [7]:
session.execute("CREATE KEYSPACE IF NOT EXISTS m14 WITH REPLICATION = {'class':'SimpleStrategy','replication_factor':'1'}")

In [9]:
session.execute(""" CREATE TABLE IF NOT EXISTS m14.inventory( 
    Sku TEXT,
    name TEXT,
    description TEXT,
    warehouse_num TEXT,
    PRIMARY KEY(sku))
""")

In [12]:
for index,row in df.iterrows():
    session.execute(f""" INSERT INTO m14.inventory(sku,name,description,warehouse_num) VALUES('{row[0]}','{row[1]}','{row[2]}','{row[3]}')""")

In [14]:
result = session.execute("SELECT * FROM m14.inventory")
for rows in result:
    print(rows)

Row(sku='6', description='GREENBERRI VIRAT', name='Greenberri', warehouse_num='3')
Row(sku='16', description='APPLE iPhone 14', name='Apple', warehouse_num='1')
Row(sku='19', description='MOTOROLA g52', name='Motorola', warehouse_num='3')
Row(sku='5', description='Infinix HOT 20 Play', name='Infinix', warehouse_num='2')
Row(sku='18', description='POCO M4 Pro', name='Mi', warehouse_num='2')
Row(sku='28', description='Infinix Smart 6 HD', name='Infinix', warehouse_num='1')
Row(sku='2', description='itel it2163S', name='Itel', warehouse_num='4')
Row(sku='12', description='MOTOROLA G62 5G', name='Motorola', warehouse_num='4')
Row(sku='29', description='MOTOROLA g31', name='Motorola', warehouse_num='1')
Row(sku='11', description='POCO C31', name='Mi', warehouse_num='1')
Row(sku='1', description='SAMSUNG Galaxy F13', name='Samsung', warehouse_num='2')

In [16]:
session.execute("CREATE INDEX IF NOT EXISTS warehouse_index ON m14.inventory(warehouse_num)")

In [18]:
result =session.execute("SELECT * FROM m14.inventory WHERE warehouse_num='1'")
for rows in result:
    print(rows)

Row(sku='16', description='APPLE iPhone 14', name='Apple', warehouse_num='1')
Row(sku='28', description='Infinix Smart 6 HD', name='Infinix', warehouse_num='1')
Row(sku='29', description='MOTOROLA g31', name='Motorola', warehouse_num='1')
Row(sku='11', description='POCO C31', name='Mi', warehouse_num='1')

In [19]:
result =session.execute("SELECT * FROM m14.inventory WHERE warehouse_num='2'")
for rows in result:
    print(rows)

Row(sku='5', description='Infinix HOT 20 Play', name='Infinix', warehouse_num='2')
Row(sku='18', description='POCO M4 Pro', name='Mi', warehouse_num='2')
Row(sku='1', description='SAMSUNG Galaxy F13', name='Samsung', warehouse_num='2')